<h1 class='page-header'>History</h1>

<table>
<tr>
  <th>Timestamp</th>
  <th>Opponent User</th>
  <th>Game Score</th>

<% current_user.games.each do |game| %>
  <tr>
    <td style="overflow: auto; height: 60px; width: 400px;"><%=game.created_at %></td>
    <td style="overflow: auto; height: 60px; width: 400px;"><%=current_user.opponent(game).email %></td>
    <td style="overflow: auto; height: 60px; width: 400px;"><%=current_user.game_score(game) %></td>
  </tr>
<% end %>
